* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  user-select: none;
  scroll-behavior: smooth;
}

html, body{
  height: 100%;
  width: 100%;
}

.cursor {
  width: 40px;
  height: 40px;
  background: #1E3E62;
  position: fixed;
  border-radius: 50%;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
}

nav {
  height: 5rem;
  background: #111A28;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.logo {
  margin-left: 5rem;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: auto;
  height: 240%;
}

.nav-links {
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  overflow: hidden;
}

.nav-links a {
  text-decoration: none;
  color: #F7EED3;
  /* border: 2px solid #; */
  font-size: 21px;
  font-weight: 450;
}

.hire-btn {
  color: #F7EED3;
  background: #111A28;
  padding: 5px 35px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid #00CF5D;
}

.hero-main {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background: #111A28;
}

.hero-p1 {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 45%;

  height: 95%;
}

.hero-p1 h1 {
  font-size: 65px;
  color: #F7EED3;
}

.hero-p1 p {
  font-size: 25px;
  font-weight: 500;
  color: #00CF5D;
}

.hero-p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 95%;
}

.hero-p2 img {
  width: 50%;
  height: fit-content;
}

.hero-p2-btn {
  font-size: 16px;
  padding: 5px 25px;
  margin-top: 50px;
  background: #1E3E62;
  border: 2px solid #1E3E62;
  border-radius: 5px;
  cursor: pointer;
}
.hero-p2-btn a {
  color: #fff;
  text-decoration: none;
}

.hero-p2-btn:hover{
  background: #1c1c1bff;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  gap: 20px;
}

.social-media label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background: #1E3E62;
  border: 1px solid #1E3E62;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.social-media label i {
  z-index: 3;
}

.social-media label::after {
  content: "";
  width: 100px;
  height: 0;
  background: #1c1c1bff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: height 1s;
}

.social-media label:hover::after {
  height: 500px;
}

.about-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
  background: #1E3E62;
  position: relative;
}

.about-p1 {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  overflow: hidden;
}

.about-p1 img {
  width: 50%;
}

.about-p2 {
  width: 30%;
  height: 90%;
  color: #1c1c1bff;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: top;
  overflow: hidden;
}

.about-p2-sub1 {
  height: 57%;
  display: flex;
  justify-content: flex-end;
  align-items: left;
  flex-direction: column;
  text-align: justify;
  padding: 20px;
  margin-top: 25px;
}

.about-p2-sub1 h2 {
  font-size: 35px;
}


.about-p3 {
  width: 30%;
  /* border: 2px solid #1c1c1bff; */
  height: 90%;
  color: #1c1c1bff;
  padding: 20px;
  overflow: hidden;
  z-index: 3;
}

.about-p3-sub1 {
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-align: justify;
}

.about-p3-sub1 h2 {
  font-size: 35px;
}

.about-p3-sub1 p {
  font-size: 17px;
}

.about-p3-sub1 label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.about-p3-sub1 label i {
  font-size: 25px;
}

.about-p3-sub2 {
  width: 100%;
  height: 50%;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.about-card {
  width: 100%;
  position: absolute;
  background: #1E3E62;
  left: 0;
  top: 0;
  visibility: hidden;
}

.about-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.about-card h1 {
  font-size: 20px;
  margin-left: 20px;
}

.about-card p {
  font-size: 15px;
  margin-left: 20px;
}

.custom {
  z-index: 10;
}

.projects {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #1E3E62;
  color: #1c1c1bff;
}

.projects-h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.projects-main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.project-1 {
  width: 40%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #1c1c1bff;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}



.project-1 img {
  width: 100%;
}

.project-1 h1, .project-1 p, .project-2 h1, .project-2 p {
  padding: 0px 20px;
}

.project-1 h1, .project-2 h1 {
  margin-top: 50px;
}

.project-2 {
  width: 40%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #1c1c1bff;
  border-radius: 20px;
  cursor: pointer;
}

.project-2 img {
  width: 100%;
} 

.contact-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #1E3E62;
  overflow: hidden;
}

.contact-p1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-p1 form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 80%;
}

.contact-p1 form input {
  width: 70%;
  height: 70px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #1c1c1bff;
  color: #1c1c1bff;
  font-size: 17px;
}

.contact-p1 form input::placeholder {
  font-size: 17px;
  color: #1c1c1bff;
  transform: translateY(10px);
}

.text {
  width: 100%;
}

.contact-p1 form textarea {
  height: 50px;
  width: 70%;
  background: none;
  border: none;
  border-bottom: 2px solid #1c1c1bff;
  outline: none;
  color: #1c1c1bff;
  font-size: 17px;
  margin-top: 20px;
}

.contact-p1 form textarea::placeholder {
  font-size: 17px;
  color: #1c1c1bff;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-p2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  color: #1c1c1bff;
  gap: 50px;
}

.contact-p2 p {
  width: 60%;
  /* text-align: center; */
  font-size: 20px;
}

.contact-p2 h1 {
  font-size: 70px;
  font-weight: 500;
}